.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

body {
    background-color: #f3f5fc;
}

.divHeader {
    display: flex;
    align-items: center;
}

.textarea {
    font-family: Inter;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    border: none;
    margin: 10px;
    padding: 15px;
    resize: none;
}

.textarea-color-1 {
    color: #0a3871;
    background-color: #f3f5fc;
}

.textarea-color-2 {
    color: #000000;
    background-color: #ffffff;
}

.boton-posicion {
    position: relative;
    margin: 10px;
    left: 0;
    top: 0;
}

.boton-copiar {
    margin-left: 130px;
}

.boton-color-1 {
    background-color: #0a3871;
    color: #f3f5fc;
}

.inline-buttons .et_pb_button_module_wrapper {
    display: inline-block;
    margin: 0 10px;
}

.inline-buttons {
    text-align: center !important; /* cambia"Center" a "left" o "right" si quieres la que alineación sea a la izquierda o derecha */
}

.container {
    justify-content: space-evenly;
    column-gap: 100px;
    row-gap: 10px;
}

.box {
    position: absolute;
    left: 800px;
    top: 40px;
    width: 400px;
    height: 600px;
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.08);
}

.box-2 {
    position: absolute;
    left: 150px;
    top: 60px;
    width: 600px;
    height: 580px;
    border-radius: 32px;
    background-color: #f3f5fc;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.08);
}

.button-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(188, 100%, 16%) 0%,
        hsl(186, 100%, 32%) 8%,
        hsl(182, 100%, 32%) 92%,
        hsl(179, 100%, 16%) 100%
    );
}

.button-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(191, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
    .button-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-pushable:hover .button-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-pushable:active .button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-pushable:active .button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
    outline: none;
}
